[submodule "themes/ghostwriter2"]
	path = themes/ghostwriter2
	url = https://github.com/jbub/ghostwriter.git
[submodule "themes/slim"]
	path = themes/slim
	url = https://github.com/pacollins/hugo-future-imperfect-slim.git
